*{
    margin: 0;
    padding: 0;
}

.add_unifications, .add_goods, .add_cooperations{
    width: 40%;
    padding-left: 20px;
    float: left;
}
.add_unifications h3, .add_goods h3, .add_cooperations h3{
    text-align: left;
    margin: 10px 20px;
}
.add_unifications input, .add_goods input, .add_cooperations input{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding: 5px 10px;
}
.add_unifications button, .del_unifications button, .add_goods button, .del_goods button, .add_cooperations button, .del_cooperations button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 15px;
    color: #fff;
    background-color: red;
    cursor: pointer;
   
}
.del_unifications, .del_goods, .del_cooperations{
    float: right;
    width: 30%;
}
.del_unifications div .del_goods div, .del_cooperations div{
    overflow: hidden;
}
.del_unifications div img, .del_goods div img, .del_cooperations div img{
    float: left;
    width: 400px;
}
.del_unifications div p{
    /* float: right; */
}
.clear{
    clear: both;
}
.link{
float: left;
}
.editor a{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25px;
}
.editor input, .editor select{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    padding: 5px 10px;
    color: #000;
}
.add_edditor_header, .add_editor_banner, .add_editor_footer{
    margin-left: 30px;
    width: 30%;
    float: left;
}
.add_edditor_header div, .add_editor_banner div, .add_editor_footer div{
    margin-top: 20px;

}
.add_edditor_header select, .add_editor_banner select, .add_editor_footer select{
    float: left;
}
.add_edditor_header button, .add_editor_banner button, .add_editor_footer button{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    color:#fff;
    background-color: red;
}

